<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                       <Result Status="403"
                            Title="403"
                            SubTitle="Sorry, you are not authorized to access this page.">
                            <Extra>
                                <HomeButton/>
                            </Extra>    
                        </Result>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <Result Status="404"
                    Title="404"
                    SubTitle="Sorry, the page you visited does not exist."
                    Extra="extra" />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<AntContainer />

@code
{
    RenderFragment extra =@<Button Type="primary">Back Home</Button>;
}